TZ=America/Sao_Paulo
MONITOR_BASE_DIR=/opt/monitor_os
DB_HOST=seu_host
DB_PORT=5432
DB_NAME=seu_banco
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
BOT_TOKEN=seu_token
BOT_TOKEN_TECX=seu_token_tecx
BOT_TOKEN_GOFIBRA=seu_token_gofibra
GRUPO_1=
GRUPO_2=
GRUPO_3=
GRUPO_ALERTAS=
